{% extends 'RentBundle::base.html.twig' %}

{% block headline %}Buchungen{% endblock %}

{% block content %}

	<table class="table">
		<thead>
			<tr>
				{% if is_granted('ROLE_ADMIN') %}
				<th>Entleiher</th>
				{% endif %}
				<th>Gerät</th>
				<th>Entleihdatum</th>
				<th>Rückgabedatum</th>
				{% if is_granted('ROLE_ADMIN') %}
					<th>Bearbeiten</th>
				{% endif %}
				<th>Status</th>
				{% if is_granted('ROLE_ADMIN') %}
					<th>Dokumente</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for booking in bookings %}
				<tr>
					{% if is_granted('ROLE_ADMIN') %}
						<td>{{ booking.user.surname }}, {{ booking.user.name }}</td>
					{% endif %}
					<td><a href="{{ path('device_show', {'id': booking.device.id}) }}">{{ booking.device.name }}</a></td>
					<td>{{ booking.dateFrom|date('d.m.Y') }}</td>
					<td>{{ booking.dateTo|date('d.m.Y') }}</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td>
							<a href="{{ path('booking_update', {'id': booking.id}) }}" class="btn btn-small"><i class="icon-pencil"></i> Bearbeiten</a>
						</td>
						<td>
							<div class="btn-group">
							  	<a class="btn dropdown-toggle btn-small {% if booking.status == 'preliminary' %}btn-info{% elseif booking.status == 'canceled' %}btn-warning{% elseif booking.status == 'gotBack' %}btn-success{% elseif booking.status == 'inRent' %}btn-danger{% endif %}" data-toggle="dropdown" href="#">
							  	{{ booking.status|readable_enum_value('BookingStatusType') }}
						    	<span class="caret"></span>
							  	</a>
							  	<ul class="dropdown-menu">
							  		<li>
							  			<a href="{{ path('booking_status', {'id': booking.id, 'status': 'preliminary'}) }}"><i class="icon-question-sign"></i> Vorläufige Buchung</a>
							  		</li>
							  		<li>
							  			<a href="{{ path('booking_status', {'id': booking.id, 'status': 'approved'}) }}"><i class="icon-ok"></i> Genehmigte Buchung</a>
							  		</li>
							  		<li>
							  			<a href="{{ path('booking_status', {'id': booking.id, 'status': 'canceled'}) }}"><i class="icon-remove"></i> Abgelehnte Buchung</a>
							  		</li>
							  		<li class="divider"></li>
							  		<li>
							  			<a href="{{ path('booking_status', {'id': booking.id, 'status': 'inRent'}) }}"><i class="icon-hand-right"></i> Gerät ausgeliehen</a>
							  		</li>
							  		<li>
							  			<a href="{{ path('booking_status', {'id': booking.id, 'status': 'gotBack'}) }}"><i class="icon-hand-left"></i> Gerät zurückerhalten</a>
							  		</li>
								</ul>
							</div>
						</td>
						<td>
							{% if booking.status == 'inRent' %}
								<a href="{{ path('booking_document', {'bookingId': booking.id, 'docIdentifier': 'docRent'}) }}" target="_blank" class="btn btn-small"><i class="icon-download"></i> Leihschein</a>
							{% elseif booking.status == 'gotBack' %}
								<a href="{{ path('booking_document', {'bookingId': booking.id, 'docIdentifier': 'docRentBack'}) }}" target="_blank" class="btn btn-small"><i class="icon-download"></i> Rückgabeschein</a>
							{% endif %}
						</td>
					{% elseif is_granted('ROLE_USER') %}
						<td>
							<span class="label {% if booking.status == 'preliminary' %}label-info{% elseif booking.status == 'canceled' %}label-important{% elseif booking.status == 'gotBack' %}label-success{% elseif booking.status == 'inRent' %}label-warning{% endif %}">
							{{ booking.status|readable_enum_value('BookingStatusType') }}
							</span>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
