{% extends 'RentBundle::base.html.twig' %}

{% block headline %}"{{ device.name }}" ausleihen{% endblock %}

{% block content %}
	<div>
		<p class="lead">
			Sie möchten das Gerät <b>{{ device.name }}</b> ausleihen.<br />
		</p>

		<p>
			Bitte beachten Sie, dass die Buchung <span class="text-warning">vorläufig</span> ist.<br />
			Sobald die Buchung genehmigt wurde, erhalten sie eine Benachrichtigung per E-Mail.
		</p>

		<p>
			Beginn der Entleihung: <span class="text-info">{{ startDateObj|date('d.m.Y') }}</span><br />
			Ende der Entleihung: <span class="text-info">{{ endDateObj|date('d.m.Y') }}</span><br />
		</p>
	</div>

	<form action="{{ path('booking_new', {'device_id': device.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<div class="hidden">
			{{ form_row(form.dateFrom) }}
			{{ form_row(form.dateTo) }}
			{{ form_row(form.status) }}
		</div>

		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<div class="form-actions">
	    	<input class="btn btn-primary" type="submit" value="Gerät ausleihen" />
			<a href="{{ path('booking_index') }}" class="btn">Abbrechen</a>
		</div>
	</form>

{% endblock %}
