{% extends 'RentBundle::base.html.twig' %}

{% block headline %}Geräteklasse hinzufügen{% endblock %}

{% block content %}

<form action="{{ path('category_new') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	<div class="form-actions">
    	<input class="btn btn-primary" type="submit" value="Geräteklasse erstellen" />
		<a href="{{ path('category_index') }}" class="btn">Abbrechen</a>
	</div>
</form>

{% endblock %}
