{% extends 'RentBundle::base.html.twig' %}

{% block headline %}Geräteklasse aktualisieren{% endblock %}

{% block content %}

<form action="{{ path('category_update', {'id': id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	<div class="form-actions">
    	<input class="btn btn-primary" type="submit" value="Geräteklasse aktualisieren" />
		<a href="{{ path('category_index') }}" class="btn">Abbrechen</a>
    	<a href="{{ path('category_delete', {'id': id }) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i> {% trans %}Geräteklasse löschen{% endtrans %}</a>
	</div>
</form>

{% endblock %}
